@charset "UTF-8";
.loading {
  background-color: #03232C;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in-out;
  transition-delay: 0.4s; }
  .loading__anim {
    border: 4px solid #FFFFFF; }
    .loading__anim svg {
      margin: 0 auto;
      overflow: hidden; }
    .loading__anim #wave {
      stroke-dasharray: 0 16 101 16;
      animation: moveTheWave 2400ms linear infinite; }

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0); }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0); } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup-target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    background-color: white;
    width: 80vw;
    height: 85vh;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 1;
    transition: all .2s; }
    @media only screen and (max-width: 768px) {
      .popup__content {
        grid-template-columns: 1fr;
        grid-template-rows: 20vh min-content;
        height: 100%; } }
    @media only screen and (max-width: 678px) {
      .popup__content {
        width: 80vw;
        height: 100%; } }
  @media only screen and (max-width: 492px) {
    .popup__description {
      display: none; } }
  .popup__right {
    height: 100%;
    padding: 3rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 3rem; }
    @media only screen and (max-width: 768px) {
      .popup__right {
        grid-gap: 1rem;
        align-content: flex-start; } }
  .popup__close {
    justify-self: end;
    align-self: flex-start;
    font-size: 3rem;
    cursor: pointer; }
    .popup__close:link, .popup__close:visited {
      color: grey;
      font-size: 7rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1; }
    .popup__close:hover {
      color: #165E6C; }
  .popup__image {
    width: 100%;
    height: 100%;
    background-image: url("../../img/house1.jpg");
    background-position: center;
    background-size: cover; }
  .popup__book {
    margin-top: 2rem; }
  .popup__features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem; }
    .popup__features .feature {
      display: flex;
      align-items: start;
      align-content: center; }
      .popup__features .feature__img {
        height: 4rem;
        width: 4rem;
        margin-right: 1rem; }
      .popup__features .feature-1 .feature__img {
        background-image: url("../../img/distance.png");
        background-position: center;
        background-size: cover; }
      .popup__features .feature-2 .feature__img {
        background-image: url("../../img/bed.png");
        background-position: center;
        background-size: cover; }
      .popup__features .feature-3 .feature__img {
        background-image: url("../../img/tag.png");
        background-position: center;
        background-size: cover; }
      .popup__features .feature-4 .feature__img {
        background-image: url("../../img/selection.png");
        background-position: center;
        background-size: cover; }

#map {
  width: 100%;
  height: 35vh; }

*,
*::after,
*::before {
  /*By default, browsers põe padding e margin em alguns elementos */
  margin: 0;
  padding: 0;
  /* Muda o box model para que os borders não adicionem ao total width ou padding de um elemento */
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  background-color: black; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 55% !important; } }

body {
  box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: column; }

@-webkit-keyframes slide-left {
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-left {
  100% {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-right {
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-right {
  100% {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-down {
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-down {
  100% {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade-in {
  100% {
    opacity: 1; } }

@keyframes fade-in {
  100% {
    opacity: 1; } }

.heading-primary {
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  letter-spacing: 0.5rem; }
  @media only screen and (max-width: 492px) {
    .heading-primary {
      font-size: 3rem; } }

.subheading {
  color: white;
  font-size: 2rem;
  font-style: italic; }
  @media only screen and (max-width: 492px) {
    .subheading {
      font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3rem;
  color: black;
  font-weight: bold; }
  @media only screen and (max-width: 492px) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: bold; }
  @media only screen and (max-width: 492px) {
    .heading-tertiary {
      font-size: 1.5rem; } }

.uppercase {
  text-transform: uppercase; }

.text {
  font-size: 1.8rem;
  color: #454748;
  line-height: 3rem; }
  @media only screen and (max-width: 492px) {
    .text {
      font-size: 1.3rem; } }

.text-popup {
  font-size: 1.5rem;
  line-height: 3rem; }

.text-footer {
  color: #707070;
  letter-spacing: 0.1rem;
  line-height: 3rem; }

.text__navlinks {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold; }
  @media only screen and (max-width: 492px) {
    .text__navlinks {
      font-size: 3rem; } }

.link {
  align-self: flex-end; }

a {
  text-decoration: none;
  transition: all 1s; }

a:hover {
  color: #165E6C; }

.bold {
  font-weight: bold; }

.border-paddings {
  padding-left: 3rem;
  padding-right: 3rem; }

.color-primary-2 {
  color: #165E6C; }

.color-white {
  color: white; }

.grey {
  color: #707070; }

.padding-text-big {
  padding-top: 5rem;
  padding-right: 7rem; }
  @media only screen and (max-width: 492px) {
    .padding-text-big {
      padding-top: 1rem;
      padding-right: 1rem; } }

.padding-text-small {
  padding-bottom: 1rem; }

.display-none {
  visibility: hidden;
  opacity: 0;
  cursor: none; }

.section {
  height: 115vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  overflow-x: hidden; }
  @media only screen and (max-width: 1024px) {
    .section {
      flex-direction: column; } }
  .section > div {
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 1024px) {
      .section > div {
        width: 100%;
        min-height: auto; } }

.header {
  height: 100vh;
  background-color: black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  opacity: 0;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1.5s;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: fade-in;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1.5s;
  -o-animation-duration: 0.8s;
  -o-animation-name: fade-in;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1.5s;
  animation-duration: 0.8s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  transition-timing-function: ease-out; }
  .header-home {
    background-image: url("../../img/header_home.jpg");
    background-position: center;
    background-size: cover; }
  .header-about {
    background-image: url("../../img/header_about.jpg");
    background-position: center;
    background-size: cover; }
  .header-school {
    background-image: url("../../img/header_school.jpg");
    background-position: center;
    background-size: cover; }
  .header-properties {
    background-image: url("../../img/header_propertie.jpg");
    background-position: center;
    background-size: cover; }
  .header-store {
    background-image: url("../../img/header_store.jpg");
    background-position: center;
    background-size: cover; }
  .header .logo-big {
    width: 18rem; }

.headings {
  color: white;
  position: relative;
  padding-left: 7rem;
  padding-top: 22vh;
  display: grid; }
  .headings-about {
    transform: translateY(-15vh);
    align-content: flex-end;
    min-height: 100vh; }
    @media only screen and (max-width: 1024px) {
      .headings-about {
        min-height: 100vh;
        transform: translateY(-15vh); } }
  .headings-school {
    transform: translateY(-15vh);
    align-content: flex-end;
    min-height: 100vh; }
  .headings-properties {
    transform: translateY(-10vh);
    align-content: flex-end;
    min-height: 100vh; }
  @media only screen and (max-width: 492px) {
    .headings {
      padding-left: 2rem; } }
  .headings .heading-primary {
    position: relative;
    transform: translateX(-10vh);
    opacity: 0;
    padding-right: 1rem;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: slide-left;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 1.5s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: slide-left;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 1.5s;
    -o-animation-duration: 0.5s;
    -o-animation-name: slide-left;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-name: slide-left;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    transition-timing-function: ease-out; }

.footer {
  background-color: #03232C;
  height: 20vh;
  width: 100%;
  padding: 3rem 7rem;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0; }
  @media only screen and (max-width: 678px) {
    .footer {
      height: 25vh; } }
  @media only screen and (max-width: 492px) {
    .footer {
      height: 40vh; } }
  @media only screen and (max-height: 590px) {
    .footer {
      height: 50vh; } }
  .footer > div {
    flex-grow: 1; }
    @media only screen and (max-width: 768px) {
      .footer > div {
        margin-right: 1rem; } }
    @media only screen and (max-width: 492px) {
      .footer > div {
        margin-bottom: 0.9rem; } }
  .footer__left .logo {
    width: 6rem; }

.social-media {
  display: flex; }

.nav {
  position: fixed;
  top: 0;
  z-index: 1400;
  height: 10vh;
  width: 100vw;
  padding: 0 7rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s; }
  @media only screen and (max-width: 492px) {
    .nav {
      padding: 0 2rem;
      height: 8vh; } }
  .nav .logo {
    width: 10rem;
    z-index: 2000;
    position: relative;
    transform: translateY(-100vw);
    opacity: 0;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: slide-down;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 1.5s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: slide-down;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 1.5s;
    -o-animation-duration: 0.5s;
    -o-animation-name: slide-down;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-name: slide-down;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    transition-timing-function: ease-out; }
    @media only screen and (max-width: 492px) {
      .nav .logo {
        width: 7rem; } }
  .nav__menu {
    position: fixed;
    right: -50px;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    z-index: 1000;
    background-image: radial-gradient(#03232C, #165E6C);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
  .nav__options {
    z-index: 4000;
    width: 100%;
    height: 100%;
    transition: all 0.5s; }
  .nav__list {
    list-style: none;
    color: white !important;
    text-decoration: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%); }
  .nav__item {
    padding: 2rem 5rem;
    background-color: transparent;
    transition: all 0.5s; }
    .nav__item:hover {
      background-color: white; }
    .nav__item:hover > .nav__link {
      color: #03232C; }
  .nav__link {
    padding: 0 1rem;
    list-style: none;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 0.3s; }

/* menuFive */
.menuFive {
  width: 35px;
  height: 20px;
  margin: 5px 5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transform: translateY(-100vw);
  opacity: 0;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-down;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1.5s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-down;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1.5s;
  -o-animation-duration: 0.5s;
  -o-animation-name: slide-down;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  animation-name: slide-down;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  transition-timing-function: ease-out; }
  @media only screen and (max-width: 492px) {
    .menuFive {
      height: 10px; } }

.menuFive span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 80%;
  height: 3px;
  transition-duration: 500ms; }
  @media only screen and (max-width: 492px) {
    .menuFive span {
      height: 2px;
      width: 70%; } }

.menuFive span:nth-child(1) {
  top: 0px;
  left: 0px; }

.menuFive span:nth-child(2) {
  top: 8px;
  left: 0px; }
  @media only screen and (max-width: 492px) {
    .menuFive span:nth-child(2) {
      top: 4px; } }

.menuFive span:nth-child(3) {
  bottom: 0px;
  left: 0px; }

.menuFive:not(.clickMenuFive):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1); }

.menuFive:not(.clickMenuFive):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1); }

.menuFive:not(.clickMenuFive):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1); }

.clickMenuFive span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px; }

.clickMenuFive span:nth-child(2) {
  transform: scale(0.1); }

.clickMenuFive span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px; }

.changeNav {
  height: 8vh !important;
  background-color: #171717 !important; }

.headings .subheading-position {
  position: inherit;
  transform: translateX(-10vh);
  opacity: 0;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-right;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 2.1s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-right;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 2.1s;
  -o-animation-duration: 0.5s;
  -o-animation-name: slide-right;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 2.1s;
  animation-duration: 0.5s;
  animation-name: slide-right;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  transition-timing-function: ease-out; }

.headings .heading-primary {
  transform: translateX(-10vh);
  opacity: 0;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-left;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 2.1s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-left;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 2.1s;
  -o-animation-duration: 0.5s;
  -o-animation-name: slide-left;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 2.1s;
  animation-duration: 0.5s;
  animation-name: slide-left;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  transition-timing-function: ease-out; }

@media only screen and (max-width: 1024px) {
  .about {
    height: 100%; } }

@media only screen and (max-width: 1024px) {
  .about__left {
    height: auto !important; } }

.about__left .pic__wave {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 1024px) {
    .about__left .pic__wave {
      display: none; } }
  .about__left .pic__wave > div {
    position: relative;
    transform: translateX(0);
    opacity: 0;
    transition: all 1s;
    height: 65vh;
    width: 12vw;
    z-index: 1;
    backface-visibility: hidden;
    perspective: 1000; }
  .about__left .pic__wave-1 {
    background-image: url("../../img/header_school.jpg");
    background-position: center;
    background-size: cover; }
  .about__left .pic__wave-2 {
    background-image: url("../../img/header_about.jpg");
    background-position: center;
    background-size: cover;
    transform: translateY(-20rem);
    transition-delay: 0.5s !important; }
  .about__left .pic__wave-3 {
    background-image: url("../../img/section_about1.jpg");
    background-position: center;
    background-size: cover;
    transform: translateY(20rem);
    transition-delay: 1s !important; }

.about__right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 7rem; }
  @media only screen and (max-width: 1024px) {
    .about__right {
      margin-bottom: 9rem;
      height: auto; } }
  @media only screen and (max-width: 768px) {
    .about__right {
      height: auto !important;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 492px) {
    .about__right {
      padding: 2rem 2rem; } }
  .about__right > * {
    position: relative;
    transform: translateX(10rem);
    opacity: 0;
    transition: all 1s; }
  .about__right > h1 {
    transition-delay: 0.5s !important; }
  .about__right > p {
    transition-delay: 1s !important; }

.surfschool__left {
  background-image: url("../../img/section_school.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  transform: translateX(-15rem);
  opacity: 0;
  transition: all 1s; }

.surfschool__right {
  padding: 7rem;
  background-color: #03232C;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transform: translateX(15rem);
  opacity: 0;
  transition: all 1s; }
  @media only screen and (max-width: 492px) {
    .surfschool__right {
      padding: 2rem 2rem; } }
  .surfschool__right .off-position {
    position: relative;
    transform: translateX(-30rem); }

.surfstore {
  background-image: url("../../img/section_store.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 1024px) {
    .surfstore {
      height: 100%; } }
  .surfstore__left {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 16rem; }
    .surfstore__left > * {
      position: relative;
      transform: translateX(-15vh);
      opacity: 0;
      transition: all 1s; }
    @media only screen and (max-width: 492px) {
      .surfstore__left {
        padding: 2rem 2rem; } }
  .surfstore__right {
    height: auto !important;
    align-self: flex-end;
    padding-right: 7rem;
    padding-left: 10rem;
    padding-bottom: 20rem; }
    @media only screen and (max-width: 768px) {
      .surfstore__right {
        padding-left: 7rem; } }
    @media only screen and (max-width: 492px) {
      .surfstore__right {
        padding: 3rem 2rem;
        padding-top: 0; } }
    .surfstore__right > * {
      position: relative;
      transform: translateX(15vh);
      opacity: 0;
      transition: all 1s; }

.properties {
  margin-bottom: 20vh; }
  @media only screen and (max-width: 678px) {
    .properties {
      margin-bottom: 25vh; } }
  @media only screen and (max-width: 492px) {
    .properties {
      margin-bottom: 40vh; } }
  @media only screen and (max-height: 590px) {
    .properties {
      margin-bottom: 50vh; } }
  .properties__left {
    padding: 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media only screen and (max-width: 768px) {
      .properties__left {
        padding: 0 7rem; } }
    @media only screen and (max-width: 492px) {
      .properties__left {
        padding: 2rem 2rem; } }
    .properties__left > * {
      position: relative;
      transform: translateX(-15vh);
      opacity: 0;
      transition: all 1s; }
  .properties__right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .properties__right > * {
      position: relative;
      transform: translateX(0);
      opacity: 0;
      transition: all 1s; }
    .properties__right .i1 {
      background-image: url("../../img/house1.jpg");
      background-position: center;
      background-size: cover;
      transition-delay: 0.1s; }
    .properties__right .i2 {
      background-image: url("../../img/house2.jpg");
      background-position: center;
      background-size: cover;
      transition-delay: 0.3s; }
    .properties__right .i3 {
      background-image: url("../../img/house3.jpg");
      background-position: center;
      background-size: cover;
      transition-delay: 0.6s; }
    .properties__right .i4 {
      background-image: url("../../img/header_propertie.jpg");
      background-position: center;
      background-size: cover;
      transition-delay: 0.9s; }

@media only screen and (max-width: 1024px) {
  .s1 {
    height: 100%; } }

.s1__nomargin {
  margin-bottom: 0 !important; }

.s1 > div {
  display: grid;
  justify-content: center;
  align-content: center; }

.s1__left > * {
  position: relative;
  transform: translateX(0vh);
  opacity: 0;
  transition: all 1.5s; }

@media only screen and (max-width: 1024px) {
  .s1__left {
    order: 2; } }

.s1__right {
  padding: 7rem; }
  .s1__right > * {
    position: relative;
    transform: translateX(-15vh);
    opacity: 0;
    transition: all 1s; }
  @media only screen and (max-width: 1024px) {
    .s1__right {
      order: 1; } }

.s1__img .img-rect-1 {
  height: 65vh;
  width: 30vw;
  background-image: url("../../img/about_1.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 1024px) {
    .s1__img .img-rect-1 {
      height: 50vh;
      width: 90vw;
      background-position: bottom; } }

@media only screen and (max-width: 1024px) {
  .s2 {
    height: 100%; } }

.s2 > div {
  display: grid;
  justify-content: center;
  align-content: center; }

.s2__left {
  padding: 7rem; }
  .s2__left > * {
    position: relative;
    transform: translateX(-15vh);
    opacity: 0;
    transition: all 1s; }

.s2__right > * {
  position: relative;
  transform: translateX(0vh);
  opacity: 0;
  transition: all 1.5s; }

.s2__img .img-rect-2 {
  height: 65vh;
  width: 30vw;
  background-image: url("../../img/about_2.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 1024px) {
    .s2__img .img-rect-2 {
      height: 50vh;
      width: 90vw;
      background-position: bottom; } }

.s3 {
  margin-bottom: 20vh; }
  @media only screen and (max-width: 1024px) {
    .s3 {
      height: 110%; } }
  .s3 > div {
    display: grid;
    justify-content: center;
    align-content: center; }
  @media only screen and (max-width: 678px) {
    .s3 {
      margin-bottom: 25vh; } }
  @media only screen and (max-width: 492px) {
    .s3 {
      margin-bottom: 40vh; } }
  @media only screen and (max-height: 590px) {
    .s3 {
      margin-bottom: 50vh; } }
  .s3__left > * {
    position: relative;
    transform: translateX(0vh);
    opacity: 0;
    transition: all 1.5s; }
  @media only screen and (max-width: 1024px) {
    .s3__left {
      order: 2;
      padding-bottom: 3rem; } }
  .s3__right {
    padding: 7rem; }
    @media only screen and (max-width: 1024px) {
      .s3__right {
        order: 1; } }
    .s3__right > * {
      position: relative;
      transform: translateX(-15vh);
      opacity: 0;
      transition: all 1s; }
  .s3__img .img-rect-3 {
    height: 65vh;
    width: 30vw;
    background-image: url("../../img/about_3.jpg");
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 1024px) {
      .s3__img .img-rect-3 {
        height: 50vh;
        width: 90vw;
        background-position: center; } }

.s1 {
  padding: 7rem;
  height: auto;
  align-items: flex-start;
  align-content: flex-start;
  flex: 0 !important;
  margin-bottom: 20vh; }
  @media only screen and (max-width: 678px) {
    .s1 {
      margin-bottom: 25vh; } }
  @media only screen and (max-width: 492px) {
    .s1 {
      margin-bottom: 40vh; } }
  @media only screen and (max-height: 590px) {
    .s1 {
      margin-bottom: 50vh; } }
  .s1__content {
    width: 100% !important;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 2rem; }
    .s1__content h1 {
      position: relative;
      transform: translateX(0vh);
      opacity: 0;
      transition: all 1.5s; }
    .s1__content p {
      position: relative;
      transform: translateX(0vh);
      opacity: 0;
      transition: all 1.5s; }
  .s1__options {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 4rem; }
    @media only screen and (max-width: 492px) {
      .s1__options {
        grid-gap: 1rem; } }
    .s1__options > div {
      display: grid;
      grid-gap: 3rem;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 492px) {
        .s1__options > div {
          grid-gap: 1rem; } }
      @media only screen and (max-width: 678px) {
        .s1__options > div {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr; } }
    .s1__options > div > .img {
      height: 40vh;
      width: 40vh; }
      @media only screen and (max-width: 678px) {
        .s1__options > div > .img {
          width: 100%; } }
    .s1__options-1 {
      grid-template-columns: 1fr 4fr; }
      .s1__options-1 .img {
        position: relative;
        transform: translateX(-15vh);
        opacity: 0;
        transition: all 1s;
        background-image: url("../../img/section_about1.jpg");
        background-position: center;
        background-size: cover; }
      .s1__options-1 .text-content > * {
        position: relative;
        transform: translateX(-15vh);
        opacity: 0;
        transition: all 1s; }
    .s1__options-2 {
      grid-template-columns: 4fr 1fr; }
      @media only screen and (max-width: 678px) {
        .s1__options-2 {
          grid-template-areas: 'img' 'text'; } }
      .s1__options-2 .img {
        position: relative;
        transform: translateX(15vh);
        opacity: 0;
        transition: all 1s;
        background-image: url("../../img/section_school1.jpg");
        background-position: center;
        background-size: cover; }
        @media only screen and (max-width: 678px) {
          .s1__options-2 .img {
            grid-area: img; } }
      @media only screen and (max-width: 678px) {
        .s1__options-2 .text-content {
          grid-area: text; } }
      .s1__options-2 .text-content > * {
        position: relative;
        transform: translateX(15vh);
        opacity: 0;
        transition: all 1s; }
    .s1__options-3 {
      grid-template-columns: 1fr 4fr; }
      .s1__options-3 .img {
        position: relative;
        transform: translateX(-15vh);
        opacity: 0;
        transition: all 1s;
        background-image: url("../../img/section_school2.jpg");
        background-position: center;
        background-size: cover; }
      .s1__options-3 .text-content > * {
        position: relative;
        transform: translateX(-15vh);
        opacity: 0;
        transition: all 1s; }

.s1__content > h1, .s1__content p {
  position: relative;
  transform: translateX(0vh);
  opacity: 0;
  transition: all 1.5s; }

.s1__properties {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 492px) {
    .s1__properties {
      grid-gap: 0.5rem;
      padding-top: 2rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; } }
  .s1__properties > * {
    position: relative;
    transform: translateX(0vh);
    opacity: 0;
    transition: all 1.5s; }
  .s1__properties .property {
    width: 100%;
    height: 25vw;
    cursor: pointer; }
    .s1__properties .property:hover {
      opacity: 0.2 !important; }
    @media only screen and (max-width: 492px) {
      .s1__properties .property {
        height: 30vw; } }
    .s1__properties .property-1 {
      background-image: url("../../img/house1.jpg");
      background-position: center;
      background-size: cover; }
    .s1__properties .property-2 {
      background-image: url("../../img/house2.jpg");
      background-position: center;
      background-size: cover; }
    .s1__properties .property-3 {
      background-image: url("../../img/house3.jpg");
      background-position: center;
      background-size: cover; }
    .s1__properties .property-4 {
      background-image: url("../../img/house4.jpg");
      background-position: center;
      background-size: cover; }
    .s1__properties .property-5 {
      background-image: url("../../img/header_propertie.jpg");
      background-position: center;
      background-size: cover; }
    .s1__properties .property-6 {
      background-image: url("../../img/house5.jpg");
      background-position: center;
      background-size: cover; }

.s1__map {
  width: 90vw; }

.contacts {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #03232C;
  justify-content: center;
  grid-gap: 1rem;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: fade-in;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 0.8s;
  -o-animation-name: fade-in;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 0.8s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  transition-timing-function: ease-out; }
  @media only screen and (max-width: 1024px) {
    .contacts {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  .contacts > div {
    width: 100% !important;
    height: 100%; }
  .contacts__left {
    background-image: url("../../img/header_contact.jpg");
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 1024px) {
      .contacts__left {
        height: 30vh !important; } }
  .contacts__right {
    background-color: #03232C;
    padding: 7rem;
    display: flex;
    flex-direction: column; }
    .contacts__right > * {
      transform: translateX(15vh);
      opacity: 0;
      -webkit-animation-delay: 2s;
      -webkit-animation-duration: 1s;
      -webkit-animation-name: slide-left;
      -webkit-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -moz-animation-delay: 2s;
      -moz-animation-duration: 1s;
      -moz-animation-name: slide-left;
      -moz-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -o-animation-delay: 2s;
      -o-animation-duration: 1s;
      -o-animation-name: slide-left;
      -o-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      animation-delay: 2s;
      animation-duration: 1s;
      animation-name: slide-left;
      animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      transition-timing-function: ease-out; }
    @media only screen and (max-width: 492px) {
      .contacts__right {
        padding: 3rem; } }
  .contacts__map {
    height: 100%;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 492px) {
      .contacts__map {
        width: 90vw; } }
  .contacts__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .contacts__info > p {
      line-height: 2.5rem; }
