.section{
  height: 115vh;
  width: 100vw;
  background-color: $white;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-largest){
    flex-direction: column;
  }



  & > div {
    width: 50%;
    height: 100%;

    @media only screen and (max-width: $bp-largest){
      width: 100%;
      min-height: auto;
    }

    @media only screen and (max-width: $bp-large){
      //min-height: 10vh;
    }
  }
}
