//LEFT
@-webkit-keyframes slide-left {
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-left {
    100% {
      transform: translateX(0);
      opacity: 1;
     }
}

//RIGHT
@-webkit-keyframes slide-right {
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-right {
    100% {
      transform: translateX(0);
      opacity: 1;
     }
}

//DOWN
@-webkit-keyframes slide-down {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slide-down {
    100% {
      transform: translateY(0);
      opacity: 1;
     }
}

//FADE IN
@-webkit-keyframes fade-in {
    100% {
      opacity: 1;
    }
}

@keyframes fade-in {
    100% {
      opacity: 1;
     }
}
