*,
*::after,
*::before {
/*By default, browsers põe padding e margin em alguns elementos */
  margin: 0;
  padding: 0;
/* Muda o box model para que os borders não adicionem ao total width ou padding de um elemento */
  box-sizing: inherit;
}

html{
  //define o que 1rem é
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  background-color: black;

  @media only screen and (max-width: $bp-large){
    font-size: 60% !important;
  }
}

body{
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
}
