.border-paddings{
  padding-left: 3rem;
  padding-right: 3rem;
}

.color-primary-2{
  color: $color-primary-2;
}

.color-white{
  color: white;
}

.padding-text-big{
  padding-top: 5rem;
  padding-right: 7rem;

  @media only screen and (max-width: $bp-small){
    padding-top: 1rem;
    padding-right: 1rem;
  }
}

.display-none{
  visibility: hidden;
  opacity: 0;
  cursor: none;
}
