.border-paddings{
  padding-left: 3rem;
  padding-right: 3rem;
}

.color-primary-2{
  color: $color-primary-2;
}

.color-white{
  color: white;
}

.padding-text-big{
  padding-top: 5rem;
  padding-right: 7rem;
}
