.headings{
  display: grid;
  //min-height: 90vh !important;
  align-content: flex-end;

  @media only screen and (max-width: $bp-largest){
    min-height: 100vh;
    transform: translateY(-15vh);
  }

  .heading-primary{
    position: relative;
    transform: translateX(-10vh);
    opacity: 0;

    @include animation(2.1s, 0.5s, slide-left);
  }
}

.s1{
  @media only screen and (max-width: $bp-largest){
    height: 100%;
  }

  & > div {
    @include grid-align();
  }

  &__left{
    //padding: 7rem;
    & > * {
      @include fadein(0vh, 1.5s);
    }

    @media only screen and (max-width: $bp-largest){
      order: 2;
    }

  }

  &__right{
    padding: 7rem;
    & > * {
      @include fadein(-15vh, 1s);
    }

    @media only screen and (max-width: $bp-largest){
      order: 1;
    }
  }

  &__img{

    .img-rect-1{
      height: 65vh;
      width: 30vw;
      @include bg-image('../../img/about_1.jpg');

      @media only screen and (max-width: $bp-largest){
        height: 50vh;
        width: 90vw;
        background-position: bottom;
      }
    }
  }
}

.s2{

  @media only screen and (max-width: $bp-largest){
    height: 100%;
  }

  & > div {
    @include grid-align();
  }

  &__left{
    padding: 7rem;

    & > * {
      @include fadein(-15vh, 1s);
    }
  }

  &__right{
    & > * {
      @include fadein(0vh, 1.5s);
    }

  }

  &__img{

    .img-rect-2{
      height: 65vh;
      width: 30vw;
      @include bg-image('../../img/about_2.jpg');

      @media only screen and (max-width: $bp-largest){
        height: 50vh;
        width: 90vw;
        background-position: bottom;
      }
    }
  }
}

.s3{

  @media only screen and (max-width: $bp-largest){
    height: 110%;
  }

  & > div {
    @include grid-align();
  }

  margin-bottom: 20vh;

  @media only screen and (max-width: $bp-medium){
    margin-bottom: 25vh;
  }

  @media only screen and (max-width: $bp-small){
    margin-bottom: 40vh;
  }

  @media only screen and (max-height: $bp-height){
    margin-bottom: 50vh;
  }

  &__left{
    & > * {
      @include fadein(0vh, 1.5s);
    }

    @media only screen and (max-width: $bp-largest){
      order: 2;
      padding-bottom: 3rem;
    }

  }

  &__right{
    padding: 7rem;

    @media only screen and (max-width: $bp-largest){
      order: 1;
    }

    & > * {
      @include fadein(-15vh, 1s);
    }
  }

  &__img{

    .img-rect-3{
      height: 65vh;
      width: 30vw;
      @include bg-image('../../img/about_3.jpg');

      @media only screen and (max-width: $bp-largest){
        height: 50vh;
        width: 90vw;
        background-position: center;
      }
    }
  }
}
